@{
    ViewData["Title"] = "Sobre mim";
    ViewData["Message"] = "Está página é um breve resumo sobre Lucas Araujo";
}


<h1 style="margin-bottom: -20px; margin-top: 8%;">@ViewData["Title"]</h1>
<h5 style="font-size: 12px;">@ViewData["Message"]</h5>

<div class="SLA">
    <font style="font-size: 18px;">
        Bom... Me chamo Lucas Araujo, tenho 23 anos, faço aniversario 28/12.
        <hr />
        Atualmente estou cursando Ciência da Computação. Por fora da faculdade, estou fazendo cursos na
        plataforma da Alura, focando em C#.NET MVC.
        Caso queira ver meu perfil na Alura,
        <a href="https://cursos.alura.com.br/user/lucas-araujo97">clique aqui</a>.
        <hr />
        Tenho poucos exercicios no <a href="https://github.com/LucasAraujo9">GitHub</a>, mas em breve pretendo estar populando ele
        com projetos completos envolvendo .NET, MVC, EFCore e etc...
        <hr />
        Eu conheco bastante da linguagem C#, consigo resolver bastantes problemas e criar algumas coisas. <br />
        Já C# .NET tenho um conhecimento razoavel, consigo desenvolver, mas acabo demorando por não ter agilidade. As vezes abro outros
        projetos, exercicios ou aulas para poder lembrar como fazer determinada coisa. Acredito que isso seja resolvido com uma boa pratica
        no dia a dia.
        <hr />
        A pouco tempo dei inicio ao curso <a href="https://cursos.alura.com.br/course/aspnet-core-identity">ASP.NET Core Parte 3: Identity</a>
        <hr />
        Tenho conhecimento sobre Linguagem C#<br />
        • Programação Orientada a Objeto;<br />
        • Padrão MVC e Entity Framework Core;<br />
        • Herança, interface, Array, tipos genéricos, List, Lambda, LINQ, expressões regulares, classe
        Object, Ajax, JQuery e JavaScript;
        • SQL Server
        <hr />
        Minha principais fontes de estudo e pesquisa são nas plataformas: <br />
        <a href="https://cursos.alura.com.br/">• Alura</a> <br />
        <a href="https://www.devmedia.com.br/">• DevMedia</a> <br />
        <a href="https://www.udemy.com/">• Udemy</a> <br />
        <hr />
        Agora, vou falar sobre minha mim e minhas experiências profissionais, ok?
        Bom... Eu, logo após terminar o ensino médio, comecei a trabalhar como ajudante de transporte para pagar
        minha primera faculdade, "Design Gráfico", acabei desistindo do curso, pois não era o que eu queria. <br />
        Algum tempo se passou e eu consegui meu primeiro emprego com Carteira Registrada, dei inicio como aprendiz
        na empresa "Positivo Tecnologia", lá me desenvolvi como pessoa e profissional. <br />
        • Aprendiz <br />
        • Auxiliar de lógistica nivel 1 <br />
        • Auxiliar de lógistica nivel 2 <br />
        • Técnico em informática <br />
        • Técnico em informática externo <br />
        Por fim, dei fim ao meu ciclo na empresa, onde fiquei por 5 anos, saindo e dedicando todo o meu tempo e
        esforço na programação. Até hoje sou grato por todos que me ajudaram e me ensinaram na Positivo.
        <hr />
        Agora, estou buscando uma nova oportunidade, um novo desafio, uma nova jornada para que eu possa crescer e 
        me desenvolver, assim como foi na Positivo. <br />

        Caso queira me dar uma chance,         
        <a href="/Home/Contact">entre em contato comigo ;)</a>
        

        <br />

    </font>
</div>