
@{
    ViewData["Title"] = "ErroEmail";
}



<h1>Erro email</h1>
<h3>Gmail bloqueou Emails após testes</h3>
<h5>Estou estudando mais sobre como funciona. Aguardando resposta no Forum C#.NET</h5>



<h1>Erro ocorrido</h1>

<br />

<img src="~/images/erroDoEmail/erro1.PNG" />

<br />

<img src="~/images/erroDoEmail/erro2.PNG" />