@{
    ViewData["Title"] = "Home Page";
}

<div class="geralperfil">
    <div class="perfil">
        <h5>
            <font style="vertical-align: inherit;">
                <font style="font-size: 12px;">Lucas Araujo de Souza</font>
            </font>
        </h5>

        <h1 class="large">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    Estou buscando uma oportunidade
                    profissional como desenvolvedor Junior.
                </font>
            </font>
        </h1>

        <font style="vertical-align: inherit;">
            Com conclusão do segundo semestre de 2021, me formarei em Ciências da Computação.
            Atulmente estou focado em aprender cada vez mais linguagem de programação C# com MVC e Entity Framework Core
        </font>

        <h4>
            <a href="/Home/Estudy" class="special">Ver Estudos</a>
            *
            <a href="#peojetospessoais" class="special">Ver Projetos</a>
            *
            <a href="/Home/About" class="special">Mais Sobre mim</a>
        </h4>
    </div>
    <div class="perfilfoto">
        <img src="~/images/foto/LucasAraujo.jpg" alt="Lucas Araujo de Souza" class="lucasaurajo" />
    </div>

</div>

<br />
<hr />

<h1 class="peojetospessoais">Projetos Pessoais</h1>
<h3>Ainda não há projetos 😌</h3>
<p>
    Por enquanto ainda estou sem projetos concluidos. Em breve estarei colocando o projeto desenvolvido 
    junto com o curso Alura "Casa do Código". 
    <br />
    Bom... Esté site que está navegando é um projeto meu, apesar de ter pouco back-and, com o tempo irei
    adicionando mais funcionalidades a ele.
</p>

<hr />

<div class="pergunta">
    <h5 class="perguntah5" style="font-size: 12px">Precisa de um programador?</h5>
    <a class="special" href="/Home/Contact">
        <h1 class="perguntah1">Vamos trabalhar juntos!</h1>
    </a>
</div>

