<!--https://www.w3schools.com/charsets/ref_emoji.asp-->
<!--Lista de emojis-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Porjeto Portfolio </title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/formulario.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Porjeto Portfolios</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicial</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Estudy">Estudo</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Sobre mim</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contatos</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footerPersonalizado">
            <hr />

            <div class="elementosfooter">
                <div>
                    <h3>Disponibilidade</h3>
                    Disponivel para Home Office, Presencial ou Flex, não vejo obstaculos
                </div>
                <div>
                    <h3>Informações de contato</h3>
                    Sinta-se a vontade para entrar em contato comigo para me conhecer mais e me oferecer uma
                    oportunidade 😉
                </div>
                <div>
                    <h3>Meio de contato</h3>
                    <a href="https://api.whatsapp.com/send?phone=5511949171522&text=Ol%C3%A1%2C%20Lucas!%20Vi%20seu%20portf%C3%B3lio.%20Podemos%20conversar%3F">
                        WhatsApp
                    </a>
                    <a href="https://www.linkedin.com/in/lucas-araujo-de-souza-b0b69a96/">
                        LinkedIn
                    </a>
                    <a href="mailto:lucas.arsza@gmail.com">Gmail</a>
                    <a href="mailto:lucas.arsza@outlook.com">Outlook</a>

                </div>


            </div>
            <br />
            <p style="padding-left: 14rem;">&copy; 2021 - Portfolio - Lucas Araujo</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
